.dashboard {
  overflow-y: auto;
  .bar {
    height: 4rem;
    @include flex(row, unset);
    padding: 0 1rem;
    border-bottom: 1px solid rgba($color: black, $alpha: 0.37);
    > input {
      margin-right: auto;
      @include inputStyle(100%, 1rem 0);
    }
    > svg {
      opacity: 0.7;
      font-size: 1.2rem;
    }
    > img {
      @include square(2rem);
      border-radius: 50%;
    }
  }
  .widgetContainer {
    @include flex(row, space-between, stretch, 2rem);
    padding: 2rem 2rem 2rem 0;

    .widget {
      width: 16rem;
      background-color: beige;
      box-shadow: 0 0 8px rgba(0, 0, 0, 0.332);
      padding: 2rem;
      border-radius: 0.5rem;
      @include flex(row, space-between, stretch, 0);

      .widgetInfo {
        > p {
          font-size: 0.8rem;
          opacity: 0.7;
        }
        > h4 {
          font-size: 1.5rem;
        }
        > span {
          @include flex(row, unset, center, 0.2rem);
        }
      }
      .widgetCircle {
        position: relative;
        @include square(5rem);
        display: grid;
        flex: none;
        border-radius: 50%;
        place-items: center;
        background-color: burlywood;
        &::before {
          content: " ";
          position: absolute;
          background-color: white;
          @include square(4rem);
          border-radius: 100%;
        }
        > span {
          position: relative;
        }
      }
    }
  }
  .graphContainer {
    @include flex(row, unset, unset, 2rem);
    padding: 0 2rem 2rem 0;
    > div {
      background-color: beige;
      border-radius: 10px;
    }
    .revenueChart {
      width: 100%;
      padding: 1rem 3rem;
      > h2 {
        @include heading;
        margin: 1rem 2rem 0.25rem;
        text-align: center;
      }
    }
    .productCategories {
      width: 100%;
      max-width: 16rem;
      @include flex(column, center, unset, 0);
      padding-bottom: 2rem;
      > h2 {
        @include heading;
        margin: 1.5rem 0 2rem 0;
        text-align: center;
      }
      > div {
        overflow-y: auto;
        padding-left: 0.5rem;
      }
      .categoryItem {
        width: 100%;
        @include flex(row, space-between);
        padding: 1rem;
        > h4 {
          letter-spacing: 1px;
          font-weight: 300;
        }
        > div {
          margin-left: auto;
          width: 6rem;
          background-color: rgb(217, 217, 217);
          border-radius: 20px;
          height: 0.5rem;
          flex: none;

          > div {
            height: 100%;
            border-radius: 20px;
          }
        }
        > span {
          font-family: 0.8rem;
          font-weight: bold;
        }
      }
    }
  }
  //   chart and table
  .transactionContainer {
    display: flex;
    gap: 2rem;
    padding: 0 2rem 2rem 0;
    height: 30rem;

    > div {
      background-color: beige;
      box-shadow: 0 10px 10px rgba(0, 0, 0, 0.132);
      border-radius: 10px;
    }
    .userChart {
      width: 100%;
      max-width: 20rem;
      padding: 1rem;
      position: relative;
      > h2 {
        text-align: center;
        margin: 1.5rem 0 2rem 0;
        @include heading;
      }
      > p {
        @include posCenter;
        font-size: 2rem;
        color: rgba(0, 0, 0, 0.63);
      }
    }
    .transactionBox {
      width: 100%;
      padding: 1rem;
      overflow-x: auto;
      > h2 {
        margin: 1.5rem 0 0 0;
        @include heading;
      }
    }
  }
}
